
:root{
    --mainColor: hsl(0, 0%, 12%);
    --secondaryColor: hsl(0, 0%, 14%);
    --shadowColor: hsl(0, 0%, 10%);
    --darkerShadowColor: hsl(0, 0%, 8%);
    --lightColor: hsl(0, 0%, 16%);
    --highlightColor: hsl(118, 39%, 38%);
    --brightHighlightColor:  hsl(118, 57%, 63%);
}

body{
    background-color: hsl(0, 0%, 12%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: var(--highlightColor);
}

div.envelope{
    display: flex;
    flex-direction: column;
}

.container{
    width: 40%;
    margin: auto;
}

.waveform-select{
    display: flex;
}
.waveform-button{
    cursor: pointer;
    flex: 1;
    text-align: center;
}

.waveform-button.selected{
    background-color: #aaa;
}
.waveform-button:hover{
    background-color: #ccc;
}

input[type=range] {
    -webkit-appearance: none;
    border-radius: 5px;
    border-width: 2px;
    margin: 2px;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background-color: black;

  }
  
  input[type=range]:hover {
    opacity: 1;
    border-color: green;
    background-color: rgb(50, 50, 50);
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }


  .knob-container{
    height: 50px;
    width:50px;
    margin: auto;
    justify-content: center;
    
  }

  .knob-outer{
    height: 50px;
    width:50px;
    border-radius: 50%;
    background-color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgb(31, 31, 31);
  }
  .knob-inner{
    height: 43px;
    width:43px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-width: 0px;
    position: relative;
    border-style: solid;
  }
  .knob-pointer{
    position: absolute;
    top: 2px;
    border: none;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: var(--highlightColor);
  }

    .envelope-knobs-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    canvas{
        width: 100%;
        height: 100%;
        background-color: hsl(0, 0%, 14%);
        border-width: 2px;
        border-style: solid;
        border-radius: 50px;
    }
  
.knob-inner:hover{
    color: var(--brightHighlightColor);
}

.knob-outer:hover .knob-pointer{
    background-color: var(--brightHighlightColor);
}
.knob-value{
        text-align: center;
        background-color: var(--shadowColor);
}


.knob-outer:hover + .knob-value{
    color: var(--brightHighlightColor);
}